@charset "UTF-8";

@media screen and (max-width: 320px) {
  #menu {
    position: absolute;
    top: 260px;
  }

  img.images {
    min-width: 90px;
  }
}

@media screen and (min-width: 321px) and (max-width: 500px) {

  #menu {
    position: absolute;
    top: 58px;
  }

  .images_conteiner {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 1980px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "menu main main";
  }
  header {
    grid-area: header;
  }
  #menu {
    grid-area: menu;
    border: 1px solid black;
    border-radius: 0 3px 3px 0;
    padding: 10px;

    background-color: #fff;
    display: none;
    width: 150px;
  }
  .shrink {
    max-width: calc(100% - 150px);
  }
  .expanded {
    max-width: 100%;
  }

  img.images {
    max-width: 190px;
  }

  .images_conteiner {
    display: flex;
    justify-content: center;
  }
}
